* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#header{
    background-color: lightgreen;
    text-align: center;
    padding: 20px;
}

#sidebar{
    background-color: lightpink;
    padding: 10px;
    float: left;
    width: 25%;
}

#content{
    background-color: lightblue;
    padding: 20px;
    width: 75%;
    float: right;
}

#footer{
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
}

h2{
    margin-bottom: 25px;
}
img {
float: right;
border-radius: 20px;
}

ul{
    list-style-type: none;
    background-color: #f1f1f1;
}

li{
    display: block;
    color: #000;
    padding: 8px 16px;
}

li:hover {
    background-color: #555;
    color: white;
}